<div class="hero-unit">
<h1>
  <p style="text-align:center">GAME OVER, MAN! GAME OVER!</p>
</h1>
</p>
</div>
<div class="btn-group inline pull-left">
		<form id="restart_btn" action="/new_player" method="get">
			<input type="submit" class="btn btn-primary" value ="Game on!" />
		</form>
</div>
<span class="inline">
	<h5>Start a new game with a new player:</h5>
</span>